
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
tests/testData.xlsx


# Allure Report Folders
allure-report/
/allure-results/
# Ignore Cucumber JSON report
cucumber-report.json
.features-gen

# Ignore logs directory
logs/
.features-gen/